/*
* FILENAME :        main.css
*
* DESCRIPTION :
*       CSS script for main site
*
* NOTES :
*
* AUTHOR :    Daniel W. Anner - Z00231757 - Program #3 - CSIS4251
*/
label {
  display: block;
  float: left;
  padding: 5px 10px 0 0;
  text-align: right;
}
input[type=text] {
  float: left;
  font-weight: bold;
  padding: 3px 0 0 0;
  text-align: center;
  width: 40px;
}
form div {
  margin: 0 0 5px 0;
  overflow: hidden;
}
.partition_button {
  cursor: pointer;
  float: left;
}
.bold {
  font-weight: bold;
}
.title {
  margin-bottom: 4px;
}
.title p {
  margin-bottom: 4px;
}
.internal_padding {
  padding-left: 2px;
}
.internal_padding label {
  padding-top: 2px;
}
.checkboxes {
  display: inline-block;
  margin-left: 4px;
  vertical-align: middle;
}
.checkboxes label {
  display: inline-block;
  padding-right: 10px;
  white-space: nowrap;
}
.checkboxes input {
  vertical-align: middle;
}
.checkboxes label span {
  vertical-align: middle;
}

fieldset {
  border: none;
}

.outputLeft {
height: 100%;
}

.outputRight {
  height: 100%;
  overflow: auto;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

p {
  margin-bottom: 3px;
}
.errors {
  color: red;
}
