.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.overflow-hidden {
  overflow: hidden;
}

.flex-equal>* {
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -ms-flex: 1;
  -ms-flex-bot: 1;
  -webkit-box-flex: 1;
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal>* {
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -ms-flex: 1;
    -ms-flex-bot: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}
