label {
  display: block;
  float: left;
  text-align: right;
  padding: 5px 10px 0 0;
}
input[type=text] {
  float: left;
  width: 40px;
  font-weight: bold;
  padding: 3px 0 0 0;
  text-align: center;
}
form div {
  overflow: hidden;
  margin: 0 0 5px 0;
}
.partition_button {
  cursor: pointer;
  float: left;
}
.decrease {
  background-position: 0 -29px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
